{{ block "index" . }}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
    <head>
        <title>{{template "title" .}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/styles.css" />
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="h-full">
        {{template "content" .}}
    </body>
</html>
{{ end }}