{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scouting Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/styles.css" />
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    </head>
    <body>
        <div class="flex flex-wrap">
        <div class="w-full sm:w-8/12 mb-10">
            <div class="container mx-auto h-full sm:p-10">
            <nav class="flex px-4 justify-between items-center">
                <div class="text-4xl font-bold">Scouting<span class="text-green-700">.</span>
                </div>
                <div>
                <img src="/public/icons/soccer-football-svgrepo-com.svg" alt="" class="w-8">
                </div>
            </nav>
            <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
                <div class="w-full">
                <h1 class="text-4xl lg:text-6xl font-bold">Find your next <span class="text-green-700">WonderKid</span></h1>
                <div class="w-20 h-2 bg-green-700 my-4"></div>
                <p class="text-xl mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores neque eaque ea odit placeat, tenetur illum distinctio nulla voluptatum a corrupti beatae tempora aperiam quia id aliquam possimus aut.</p>
                <button class="bg-green-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">Learn More</button>
                </div>
            </header>
            </div>
        </div>
        <img src="/public/icons/pexels-photo-3886235.jpeg" alt="Player" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
        </div>
    </body>
</html>
{{ end }}