
package views

import (
    db "github.com/thirdknife/scoutingapp/database"
    "fmt"
)

templ ListPlayers(players []*db.Player) {
    @layout("Players") {
       <table>
          <th>Name</th>
          for _, p := range players {
             <tr>
                <td>{fmt.Sprintf("%v", p.Name)}</td>
             </tr>
          }
       </table>
    }
}
